.nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 999;
  min-width: 320px;
  background: var(--primary-blue);
}
@media only screen and (max-width: 1200px) {
  .nav {
    font-size: 10rem;
    justify-content: center;
  }
}

.nav__ul {
  color: var(--secondary-white);
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-right: 5rem;
  padding: 0.5rem;
}
@media only screen and (max-width: 1200px) {
  .nav__ul {
    margin-right: 0rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav__ul {
    gap: 1rem;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.nav__link:focus {
  border-bottom: 2px solid var(--secondary-white);
}
.nav__link:hover {
  border-bottom: 2px solid var(--secondary-white);
}

.nav__text {
  transform: translatey(1px);
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .nav__text {
    display: none;
  }
}

.nav__img {
  height: 1.4rem;
}
@media only screen and (max-width: 600px) {
  .nav__img {
    height: 2rem;
  }
}
